@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');

:root{
    --font01: Arial, Helvetica, sans-serif;
    --font02: 'Rubik Dirt', cursive;
    --font03: 'Mali', cursive;
}

*{
    font-family: var(--font01);
    margin: 0px;
    padding: 0px;
}

html, body{
   min-height: 100vh;
   background-color: antiquewhite; 
}

/*-- CABEÇARIO --*/


header{
    background-color: black;
    color: white;
    text-align: center;
    
}

header h1{
    padding-top: 50px;
    font-family:var(--font02);
    font-size: 10vw;
    font-weight: normal;
    font-variant: small-caps;
    
}

header p{
    padding-bottom: 50px;
    font-size: 1em;
    font-family: var(--font03);
}

header a{
    text-decoration: none;
    color: white;
    font-family: var(--font03);
    font-weight: bold;
}

header a:hover{
    text-decoration: underline;
    color: rgba(94, 94, 3, 0.815);
}

/**-- CORPO --*/

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 40px;
}

section p{
    font-family: var(--font03);
    font-size: 1.3em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: grey;
    color:white
}

section.imagem > p{
    display:inline-block;
    background-color: rgba(0, 0, 0, 0.575);
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    padding: 15px;

}

/*-- RODAPÉ --*/

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
